JWT_SECRET=
MONGODB_URI=mongodb://127.0.0.1:27017/tenmiye?replicaSet=rs0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/auth/google/callback
PORT=3001
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_WEB_API_KEY=
FIREBASE_STORAGE_BUCKET=
FRONTEND_URL=http://localhost:3000
